@mixin badge($bg-color: #AF39E7, $text-color: #F8FDFE) {
    padding: 4px 8px;
    border-radius: 4px;
    background-color: $bg-color;
    color: $text-color;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.main__section__product-card__badge {
    display: flex;
    justify-content: flex-start;
    gap: 4px;
    position: absolute;
    top: 32px;
    left: 32px;

    &--new {
        @include badge;
    }
    &--hit {
        @include badge($bg-color: #4200FF);
    }
    &--off {
        @include badge($bg-color: #EA33C0);
    }
    &--hidden {
        display: none;
    }
}