@mixin button($bgColor: #4C394E, $textColor: #F8FDFE) {
    background-color: $bgColor;
    color: $textColor;
    padding: 8px 24px;
    margin-bottom: 32px;
    border: none;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.main__section__product-card__btn {
    @include button;
}
.main__section__product-card__btn:hover {
    @include button($bgColor: #744978);
}
.main__section__product-card__btn-end-up {
    @include button($bgColor: #4D762D)
}
.main__section__product-card__btn-end-up:hover {
    @include button($bgColor: #6DB236)
}