.chat-btn {
    background: #10BBD5;
    border: none;
    width: 64px;
    height: 64px;
    border-radius: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    right: 0;
}
.chat-btn:hover {
    transform: rotate(14deg)
}