.footer {
    background-color: var(--eggplant, #4C394E);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white, #F8FDFE);
    font-size: 16px;
    font-weight: 400;
    padding: 32px 52px;

    &--year, &--rights {
        line-height: 24px; /* 150% */
    }
}

