.header {
    width: 100%;
    height: 104px;
    background-color: white;
    z-index: 1;
    position: fixed;

}

.header__section-top {
    display: flex;
    color: #F8FDFE;;
    justify-content: space-between;
    padding: 16px 52px;
    background: #10BBD5;
    color: white;

    &__cart {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;

        &__total {
            display: inline-block;
        }

        &__btn {
            appearance: none;
            border: none;
            background: #10BBD5;
            background-image: url(../images/cart_icon.png);
            width: 40px;
            height: 40px;
            position: relative;

            &--zero {
                position: absolute;
                top: 9px;
                left: 19px;
            }
        }
    }

}

.header__section-bottom {
    display: flex;
    justify-content: space-between;
    padding: 4px 52px;

    &__menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 40px;

        &__item {
            color: #000;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px; /* 150% */
        }
    }
}