@import "./variables.scss";
@import "./header.scss";
@import "./button.scss";
@import "./badge.scss";
@import "./section-product-card.scss";
@import "./chat-btn.scss";
@import "./footer.scss";


body {
    font-family: $font-stack;
    background-color: $background-color;
}

@mixin reset-link {
    text-decoration: none;
    cursor: pointer;
}

a {
    @include reset-link;
}






