

.main {
    padding: 104px 52px 120px 52px;
    position: relative;

    &__heading {
        color: #1F1F1F;
        font-size: 32px;
        font-weight: 600;
        line-height: 40px; /* 125% */
        padding: 36px 0 23px 0;
        border-bottom:1px solid #A8A8A8;
    }
    &__section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        gap: 32px 24px;
        margin-top: 24px;
    
        &__product-card {
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding: 32px;
            background-color: #fff;
            height: 512px;
            width: 306px;
            position: relative;
            border:1px solid #A8A8A8;
            box-sizing: border-box;
        
            &__link {
                margin: 0 32px;
                width: 178px;
                height: 280px;
            }
           &__title {
                overflow: hidden;
                color: var(--black, #1F1F1F);
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 20px;
                font-weight: 700;
                line-height: 28px; /* 140% */
                border-bottom:1px solid #A8A8A8;
            }
            &__author {
                overflow: hidden;
                color: var(--gray, #8E8E8E);
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px; /* 150% */
            }
            &__price {
                display: flex;
                justify-content: flex-start;
                gap: 24px;
                font-size: 24px;
                font-weight: 500;
                line-height: 32px; /* 133.333% */
                padding-top: 8px;
                color: #E90000;
        
                &--red {
                    color: #E90000;
                
                }
                &--old {
                    color: var(--gray, #8E8E8E);
                    text-decoration: line-through;
                }
            }
           
        }
    }
}




